

#mainDiv{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  display: none;
}

#modalDiv{
  position:absolute;
  left: 40%;
  top: 20%;
  width: 22%;
  z-index: 1;
  opacity: 0.8;
  display: none;
}

.welcomeText{
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
}

header {
  width: 100%;
  height: 90px;
  position: fixed;
  margin-bottom: 90px;
  z-index: 1000;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.14);
  background-color: #FFF; 
  display: none;
}

header .inner_header {
  width: 1180px;
  padding: 0 10px;
  margin: 0px auto; 
}

header h1 {
  float: left;
  margin-top: 25px;
  display: block;
  cursor: pointer;
  position: relative; 
}

header h1 .logo {
  background: transparent url("../images/logo.png") no-repeat;
  width: 176px;
  height: 39px;
  position: absolute;
  display: block; 
}

header nav {
  float: right;
  margin-top: 25px; 
}

header nav ul {
  float: left; 
}

header nav ul li {
  display: inline;
  line-height: 42px;
  font-size: 16px;
  color: #cacacc; 
}

.buttonHeader{
  font-family: 'Varela Round', sans-serif;
  color: #19191a;
  text-decoration: none;
  padding: 0 17px; 
  background: none;
  border: none;
}

.buttonHeader:hover, .buttonHeader.selected{
  color: #ce1d33; 
  text-decoration: none;
  border: none;
}

.buttonHeader:focus{
  outline: none;
}

header nav ul li a {
  font-family: 'Varela Round', sans-serif;
  color: #19191a;
  text-decoration: none;
  padding: 0 17px; 
}

header nav ul li a.selected, header nav ul li a:hover {
  color: #ce1d33; 
  text-decoration: none;
}

.proButton {
  font-size: 18px;
  font-family: 'Varela Round', sans-serif;
  background-color: #ce1d33;
  float: right;
  color: #FFF;
  padding: 10px 26px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  cursor: pointer;
  border: 3px solid #ce1d33;
  margin-left: 120px;
  margin-right: 20px;
  margin-top: -5px;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  display: block;
  text-decoration: none;
}

.proButton:hover {
  background-color: #FFF;
  color: #ce1d33; 
}

.buttonWelcomePage{
  font-size: 18px;
  font-family: 'Varela Round', sans-serif;
  background-color: #ce1d33;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  cursor: pointer;
  color: #FFF;
  border: 3px solid #ce1d33;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  text-decoration: none;
}

.buttonWelcomePage:hover {
  background-color: #FFF;
  color: #ce1d33; 
}

.optionButton{
  font-size: 28px;
  width: 200px;
  padding-right: 250px;
  font-family: 'Varela Round', sans-serif;
  background-color: #ce1d33;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  cursor: pointer;
  color: #FFF;
  border: 3px solid #ce1d33;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  text-decoration: none;
}

.optionButton:hover {
  background-color: #FFF;
  color: #ce1d33; 
  text-decoration: none;
}

.wrapper {
  width: 1180px;
  padding: 0 10px;
  margin: 0px auto; 
}

#container {
  position: relative;
  top: 91px; }

#section {
  width: 100%;s
  border-bottom: 1px solid #e9e9e9; 
  background-image: url('../assets/images/background.gif');
}

#section .bigDiv {
  width: auto; 
  height: auto;
  margin-top: 0px;
  z-index: 0;    
  display: none;
}

#section .smallDiv {
  padding-left: 40px;
  padding-top: 120px;
  width: 380px;
  margin-top: 25px;
  font-size: 28px;
  font-family: 'Varela Round', sans-serif;
  line-height: 50px;
  color: #333333; 
  z-index: 1;
  display: none;  
}

#section .smallDiv .hello {
  font-size: 60px;
  font-family: 'Varela Round', sans-serif;
  color: #1a1a1a; 
}

#imgHome{
  width: auto;
  height: 600px;
  margin-top: 0px;
}

#section .smallDiv p span {
  color: #808080; 
}



