<!DOCTYPE html>
<html>

  <head>

    <script src="../jquery/jquery-2.1.0.js"></script>

    <script src="../bootstrap/js/bootstrap.js"></script>  
    <script src="../js/main.js"></script>  

  	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
  	<link rel="stylesheet" href="../bootstrap/css/bootstrap.css">

  	<link rel="stylesheet" href="../bootstrap/css/bootstrap-theme.css">
  	<link rel="stylesheet" href="../bootstrap/css/bootstrap-theme.min.css">

  </head>

  <body>

    <div id="indexDiv">

      <nav class="navbar navbar-default" role="navigation">

        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->


          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            </button>
            <a class="navbar-brand" href="#">Cada vez falta menos !</a>
          </div>


          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">

              <li><a href="#">Mis numeros</a></li>

             <!-- <li> / </li> -->

              <li class="dropdown">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reservas </a>

                <ul class="dropdown-menu">
                  <li><a href="#" >Registrar reserva</a></li>
                  <li><a href="#" >Cancelar reserva</a></li>
                  <li class="divider"></li>
                  <li><a href="#" >Consultas</a></li>
                </ul>

              </li>

              <!-- <li> / </li> -->

              <li class="dropdown">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ventas </a>

                <ul class="dropdown-menu">
                  <li><a href="#" >Registrar venta</a></li>
                  <li><a href="#" >Cancelar venta</a></li>
                  <li class="divider"></li>
                  <li><a href="#" >Consultas</a></li>
                </ul>

              </li>

              <!-- <li> / </li> -->

              <li><a href="#">Estadisticas</a></li>

              <!-- <li> / </li> -->

              <li><a href="#">Notificaciones</a></li>

              <!-- <li> / </li> -->

              <li class="dropdown">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Agustin </a>

                <ul class="dropdown-menu">
                  <li><a href="#">Mis datos</a></li>
                  <li><a href="#">Mi Grupo de Viaje (?)</a></li>
                  <li class="divider"></li>
                  <li><a id= "signOut" href="#">Cerrar Sesion</a></li>
                </ul>

              </li>

            </ul>

          </div><!-- /.navbar-collapse -->

        </div><!-- /.container-fluid -->

      </nav>

    </div>

  </body>

</html>