<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Gestion de Rifas - Viaje de CCEE</title>
		<link rel="stylesheet" href="../css/index.css" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="shortcut icon" href="images/favicon.ico" />
		<script src="../jquery/jquery-2.1.0.js"></script>
		<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>

    <div id="mainDiv">

      <img id="imgFondo">
      
      <div id="modalDiv" class="modal-content">

        <br>

        <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#signin" data-toggle="tab">Ingresar</a></li>
              <li class=""><a href="#signup" data-toggle="tab">Registrarse</a></li>
            </ul>
        </div>

        <div class="modal-body">

          <div id="myTabContent" class="tab-content">

            <div id="signin" class="tab-pane fade active in">

              <div class="control-group">
                <label class="control-label" for="userid">Cedula:</label>

                <div class="controls">
                  <input required="" id="userid" name="userid" type="text" class="form-control" placeholder="12345678" class="input-medium" required="">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="passwordinput">Password:</label>
                <div class="controls">
                  <input required="" id="passwordinput" name="passwordinput" class="form-control" type="password" placeholder="********" class="input-medium">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="signin"></label>
                <div class="controls">

                  <center>
                    <button id="signin" name="signin" class="btn btn-warning">Ingresar</button>
                  </center>
                </div>
              </div>

            </div>

            <div id="signup" class="tab-pane fade">

              <div class="control-group">
                <label class="control-label" for="userid">Cedula:</label>
                <div class="controls">
                  <input id="userid" name="userid" class="form-control" type="text" placeholder="12345678" class="input-large" required="">
                </div>
              </div>


              <div class="control-group">
                <label class="control-label" for="Email">Mail:</label>
                <div class="controls">
                  <input id="Email" name="Email" class="form-control" type="text" placeholder="mail@mail.com" class="input-large" required="">
                </div>
              </div>
            
  
              <div class="control-group">
                <label class="control-label" for="confirmsignup"></label>
                <div class="controls">
                  <center>
                    <button id="confirmsignup" name="confirmsignup" class="btn btn-warning">Registrarse</button>
                  </center>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>
	</body>
</html>