<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Gestion de Rifas - Viaje de CCEE</title>
		<link rel="stylesheet" href="../css/index.css" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="shortcut icon" href="images/favicon.ico" />
		<script src="../jquery/jquery-2.1.0.js"></script>
		<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<header>
			<div class="inner_header">
				<h1>
					<div class="logo" onclick="scroll_to_top();"><span>Sternhaufen</span></div>
				</h1>
				<nav>
					<ul>
						<li><a href="#" class="selected" id="start_nav">Inicio</a></li>
						<li class="separator">/</li>
						<li><a href="#services" id="services_nav">Mis numeros</a></li>
						<li class="separator">/</li>
						<li><a href="#work" id="work_nav">Reservas</a></li>
						<li class="separator">/</li>
						<li><a href="#clients" id="clients_nav">Ventas</a></li>
						<li class="separator">/</li>
						<li><a href="#book" id="book_nav">Estadisticas</a></li>
						<li class="separator">/</li>
						<li><a href="#contact" id="contact_nav">Notificaciones</a></li>
					</ul>
					
					<a href="mailto:tomek@colourfreak.com" target="_blank" class="hire_me">Agustin</a>
				</nav>
			</div>
		</header>

		<div id="main">
			<section id="start">
				<div class="wrapper">
					
					<div class="right">
						<div class="hello">Hola!</div>
						<p>
							My name is <span>Tomek Nowak</span> and I am <span>UI/UX designer</span> from Poland. I create high converting websites. 
						</p>
					</div>
					
					<div class="left">
						<img src="../assets/images/illustration.png"/>
					</div>
		
					<br class="cleaner"/>
				</div>
			</section>
		</div>
	</body>
</html>